#### 3.1. Работа с датасетом "house price"

- Скачать данные по ссылке https://www.kaggle.com/datasets/esratmaria/house-price-dataset-with-other-information
- Описание датасета
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
1.1 Создать новый признак price_per_sq_lot, который будет содержать стоимость за один кв. метр общей площади
1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. Если реновации дома не было, то в новом признаке поставьте 0
1.3 Создайте признаки года продажи, месяца продажи
1.4 Удалите признаки date, zipcode, lat, long

```
    - id - Уникальный ID для каждого дома
    - date - Дата продажи дома
    - price - Стоимость продажи дома
    - bedrooms - Кол-во спален
    - bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
    - sqft_living - Кв. метры жилые
    - sqft_lot - Кв. метры общие
    - floors - Кол-во этажей
    - waterfront - Есть набержная или нет
    - view - Значение от 0 до 4 насколько хороший вид
    - condition - Значение от 1 до 5 насколько хорошее состояние
    - grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
    - sqft_above - Кв. метры дома, которые находятся выше земли
    - sqft_basement - Кв. метры дома, которые находятся ниже земли
    - yr_built - Год постройки дома
    - yr_renovated - Год ремонта дома
    - zipcode - Индекс
    - lat - Широтма
    - long - Долгота
    - sqft_living15 - Кв. метры жилой площади у 15 соседей
    - sqft_lot15 - Кв. метры общей площади у 15 соседей
```

In [36]:
import pandas as pd

In [37]:
import numpy as np

In [38]:
df = pd.read_csv('./kc_house_data.csv',encoding='cp1251')

In [39]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 1.1 Создать новый признак price_per_sq_lot, который будет содержать стоимость за один кв. метр общей площади

In [40]:
df['price_per_sq_lot'] = df['price']/ df['sqft_lot']

### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. Если реновации дома не было, то в новом признаке поставьте 0

In [41]:
df['delta_renovated'] = df['yr_renovated'] - df['yr_built'] # Создали новуй столбец delta_renovated из разницы годом реновацией дома и годом постройки дома

In [42]:

df.loc[df['delta_renovated'] <0, 'delta_renovated'] = 0 # Заменили отрицательные значения на 0

### 1.3 Создайте признаки года продажи, месяца продажи

In [43]:
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,39.274336,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,74.288870,40

In [44]:
def year_of_sale(stroka):
    return stroka [:4] #  Функция, которая удаляет последние 11 знаков

In [45]:
year_of_sale('20141013T000000') #  Проверяю работоспособность функции и о чудо она работает

'2014'

In [57]:
df['Year_Of_Sale'] = df["date"].apply(year_of_sale) # Создали столбец Year_Of_Sale и в нём вставили столбец date к которому применили функцию year_of_sale которая выдала только первые 4 символа

In [56]:
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,Year_Of_Sale
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,39.274336,0,2014
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,74.288870,40,2014

In [52]:
def month_of_sale(stroka):
    return stroka [4:][: - 9] # Функция удалаяет первы 4 символа в строке и последние 9 символов в строке

In [55]:
month_of_sale('20150218T000000') # Функция работае корректно

'02'

In [58]:
df['Month_Of_Sale'] = df["date"].apply(month_of_sale) # Создали столбец 'Month_Of_Sale' и в нём вставили столбец date к которому применили функцию month_of_sale которая удалаяет первы 4 символа в строке и последние 9 символов в строке

In [59]:
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,Year_Of_Sale,Month_Of_Sale
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,98178,47.5112,-122.257,1340,5650,39.274336,0,2014,10
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1991,98125,47.7210,-122.319,1690,7639,74.288870,40,2014,12

### 1.4 Удалите признаки date, zipcode, lat, long

In [60]:
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,Year_Of_Sale,Month_Of_Sale
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,98178,47.5112,-122.257,1340,5650,39.274336,0,2014,10
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1991,98125,47.7210,-122.319,1690,7639,74.288870,40,2014,12

In [61]:
df.drop(columns=['date', "zipcode", 'lat', 'long'], inplace=True) # удалили  столбцы

In [62]:
df.head(2)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,Year_Of_Sale,Month_Of_Sale
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,1340,5650,39.274336,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,1690,7639,74.288870,40,2014,12

#### 3.2. Работа с датасетом "клиенты" и "house price" - слияние данных

Создайте датафрейм с клиентами:
```
    clients = pd.DataFrame({ 
            'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840,  280,   20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
            'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150,  809001400,  339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580,  825069097, 3889100029, 9524100196]
})
```
house_id - это признак id в датафрейме с домами (задание 1)
2.1 Присоедините к таблице clients данные по домам через метод join
2.2 Присоедините к таблице clients данные по домам через метод merge

In [64]:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840,  280,   20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150,  809001400,  339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580,  825069097, 3889100029, 9524100196]
})

In [67]:
client_id = clients.set_index('house_id')

In [69]:
client_id.join(df)

,client_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,Year_Of_Sale,Month_Of_Sale
house_id,,,,,,,,,,,,,,,,,,,,,
8965450190,1459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6823100225,4684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5104540330,3498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131701075,3942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522700060,4535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1189000207,2308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6821600300,2866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7137950720,2765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9510920050,1472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6131600255,4236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5428000070,2295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788800910,939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8100400160,3840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3123049142,280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6306800010,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5083000375,4332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7920100025,3475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951600150,4213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
809001400,3113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339600110,4809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1622049154,2134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099600250,2242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8563000110,2068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2768100205,4929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995700435,1384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8861700030,1589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3303980210,3317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7731100066,2260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8146100580,1727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
825069097,1764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3889100029,1611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9524100196,1474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.iloc[1459]

id                  3275860270
price                 755000.0
bedrooms                     3
bathrooms                 2.25
sqft_living               3020
sqft_lot                 13031
floors                     2.0
waterfront                   0
view                         0
condition                    3
grade                        9
sqft_above                3020
sqft_basement                0
yr_built                  1989
yr_renovated                 0
sqft_living15             2480
sqft_lot15               10204
price_per_sq_lot     57.938761
delta_renovated              0
Year_Of_Sale              2014
Month_Of_Sale               10
Name: 1459, dtype: object

In [71]:
merged = clients.merge(df, left_on='house_id', right_on=df.index, how='left')
merged

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,Year_Of_Sale,Month_Of_Sale
0,1459,8965450190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4684,6823100225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3498,5104540330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3942,2131701075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4535,1522700060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2308,1189000207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2866,6821600300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2765,7137950720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1472,9510920050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4236,6131600255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2295,5428000070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,939,1788800910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3840,8100400160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,280,3123049142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,20,6306800010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,4332,5083000375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3475,7920100025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4213,1951600150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3113,809001400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4809,339600110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2134,1622049154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2242,1099600250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2068,8563000110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4929,2768100205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1384,3995700435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1589,8861700030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3317,3303980210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2260,7731100066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1727,8146100580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1764,825069097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1611,3889100029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1474,9524100196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 3.3. Составьте несколько сводных таблиц
3.1 Найдите среднюю стоимость домов в зависимости от количества спален. Отсортируйте от меньшей стоимости к большей
3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома
3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида
3.4 Каких домов в зависимости от этажности и количества спален больше?
3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален. Отсортируйте от меньшей стоимости к большей

In [72]:
df.head(1)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,Year_Of_Sale,Month_Of_Sale
0,7129300520,221900.0,3,1.0,1180,5650,1.0,0,0,3,...,1180,0,1955,0,1340,5650,39.274336,0,2014,10

In [73]:
df.pivot_table(index='bedrooms', values='price', aggfunc='mean').sort_values('price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [75]:
df.pivot_table(index='condition', values='price', aggfunc=[min, max, np.mean])

                min        max           mean
              price      price          price
condition
1           78000.0  1500000.0  334431.666667
2           80000.0  2555000.0  327287.145349
3           75000.0  7062500.0  542012.578148
4           89000.0  7700000.0  521200.390033
5          110000.0  3650000.0  612418.089359

### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [94]:
pd.pivot_table(df, index=["waterfront",'view'])

                                                     Month_Of_Sale  \
waterfront view
0          0                                                   inf
           1                                                   inf
           2                                                   inf
           3                                                   inf
           4                                                   inf
1          1                                                  12.0
           2                                    39007613256313.125
           3                584242479521634758039147225748078592.0
           4     3030374830450400909002363039723206010152004781...

                                                      Year_Of_Sale  bathrooms  \
waterfront view
0          0                                                   inf   2.069719
           1                                                   inf   2.351208
           2                                                   inf   2.427749
           3                                                   inf   2.680754
           4                                                   inf   2.826087
1          1                                                2014.0   1.750000
           2                     2519001775177517623169951727616.0   2.187500
           3     1060106010601060132433179596744059475234660351...   2.421053
           4                                                   inf   2.750000

                 bedrooms  condition  delta_renovated    floors     grade  \
waterfront view
0          0     3.346247   3.399302         2.061009  1.491123  7.564780
           1     3.537764   3.510574         5.021148  1.397281  8.120846
           2     3.568586   3.486911         3.952880  1.519372  8.320419
           3     3.706721   3.468432         5.727088  1.561100  8.749491
           4     3.815217   3.630435         6.771739  1.567935  9.228261
1          1     3.000000   4.000000         0.000000  1.000000  7.000000
           2     3.125000   4.000000        12.750000  1.437500  8.375000
           3     2.789474   3.684211        14.315789  1.657895  8.315789
           4     3.385185   3.481481        10.533333  1.655556  8.874074

                           id         price  price_per_sq_lot   sqft_above  \
waterfront view
0          0     4.569471e+09  4.965642e+05         86.694047  1746.476269
           1     4.624063e+09  8.128164e+05        100.853037  1934.543807
           2     4.766280e+09  7.836095e+05        104.277488  2082.512042
           3     4.390288e+09  9.642053e+05        116.369559  2283.423625
           4     5.270002e+09  1.270030e+06        126.458708  2510.934783
1          1     2.623029e+09  6.350000e+05          3.799551  1480.000000
           2     5.740514e+09  1.841875e+06         58.756922  2616.875000
           3     3.208181e+09  1.172500e+06        121.752430  2101.578947
           4     4.610747e+09  1.727691e+06        126.643372  2524.155556

                 sqft_basement  sqft_living  sqft_living15       sqft_lot  \
waterfront view
0          0        251.285392  1997.761660    1924.682488   14179.237416
           1        636.317221  2570.861027    2409.921450   11891.347432
           2        566.765445  2649.277487    2430.970681   22158.072251
           3        755.778004  3039.201629    2706.073320   34123.415479
           4        901.684783  3412.619565    2949.260870   22720.282609
1          1        460.000000  1940.000000    1910.000000  167125.000000
           2        752.250000  3369.125000    2354.000000   34060.000000
           3        383.684211  2485.263158    2598.947368   51986.000000
           4        743.977778  3268.133333    2699.948148   20061.251852

                    sqft_lot15     yr_built  yr_renovated
waterfront view
0          0      12188.469188  1971.614193     71.801221
           1      10421.951662  1963.021148    192.918429
           2      17137.970681  1965.107853    142.057592
           3      23803.885947  1967.985743    203.439919
           4      17775.260870  1967.331522    227.836957
1          1     127195.000000  1955.000000      0.000000
           2      36368.500000  1944.500000    498.625000
           3      25403.105263  1953.315789    522.263158
           4      20355.333333  1964.540741    515.614815

### 3.4 Каких домов в зависимости от этажности и количества спален больше?

In [95]:
pd.pivot_table(df, index=["bedrooms",'floors'])

                                                     Month_Of_Sale  \
bedrooms floors
0        1.0                                            2510252.25
         2.0                                    10184840200.333334
         3.0                                                 104.0
         3.5                                                   6.0
1        1.0                                                   inf
         1.5            4781050043432400360753054119198227169280.0
         2.0                              5900425917585033265152.0
         2.5                                                  12.0
         3.0                                           3668.666667
2        1.0                                                   inf
         1.5                                                   inf
         2.0                                                   inf
         2.5                                           222416181.6
         3.0     9813989464395991764727308282342267556769200183...
         3.5                                                 204.5
3        1.0                                                   inf
         1.5                                                   inf
         2.0                                                   inf
         2.5     2157340730501437597797843574593951013124752661...
         3.0                                                   inf
         3.5                                             2002601.5
4        1.0                                                   inf
         1.5                                                   inf
         2.0                                                   inf
         2.5     7088284570179467232372712984951098710067808529...
         3.0     1788870591652492958738994834712900095204223599...
5        1.0                                                   inf
         1.5                                                   inf
         2.0                                                   inf
         2.5        43871321957852695000198755580523680976863232.0
         3.0                            157731083169700046176256.0
6        1.0     1062587700038852997073378565645557874657534431...
         1.5     4030101690069340413599000844432842994106070130...
         2.0     5916559698068134294770933406825821605384963009...
         2.5                          43644321792922074717618176.0
         3.0                                            41220101.4
7        1.0                                    1178343390116701.0
         1.5                                   158715014386.428558
         2.0                321073900047581677306244489656926208.0
         2.5                                                 254.5
         3.0                                                   5.0
8        1.0                                            41420142.2
         1.5                                                   3.0
         2.0                                    20168686800.833332
         3.5                                                  10.0
9        2.0                                             270200.75
         2.5                                                 251.5
10       1.0                                                   8.0
         2.0                                                 506.0
11       2.0                                                   8.0
33       1.0                                                   6.0

                                                      Year_Of_Sale  bathrooms  \
bedrooms floors
0        1.0                                     503550380035503.5   0.437500
         2.0                             33570023669033584295936.0   1.250000
         3.0                                            10076007.0   0.750000
         3.5                                                2014.0   0.000000
1        1.0                                                   inf   0.996914
         1.5     9591435810247692260017023427596852987443797647...   1.119048
         2.0     16785011834516783704214896401611760192041517056.0   1.750000
         2.5                                                2014.0   2.000000
         3.0                                    67173380671.333336   1.416667
2        1.0                                                   inf   1.222706
         1.5                                                   inf   1.339286
         2.0                                                   inf   1.957746
         2.5                                 4028402840284027904.0   1.700000
         3.0                                                   inf   2.054878
         3.5                                            10076007.0   2.625000
3        1.0                                                   inf   1.686434
         1.5                                                   inf   1.664758
         2.0                                                   inf   2.461915
         2.5     3596788250253597175242900846315392151967127589...   2.535714
         3.0                                                   inf   2.469753
         3.5                                     503550380038003.5   2.750000
4        1.0                                                   inf   2.163764
         1.5                                                   inf   1.897206
         2.0                                                   inf   2.696361
         2.5     3474485207141403986142566164431590662447322654...   2.961207
         3.0     3303608885478711918449321125080812738745695219...   3.069672
5        1.0                                                   inf   2.441736
         1.5                                                   inf   2.128378
         2.0                                                   inf   3.170968
         2.5     8757397478921804397117148201622375327710471909...   3.010870
         3.0     1550154938578473252083476520598863295229727657...   3.903846
6        1.0                                                   inf   2.625000
         1.5     6714004733840047578581393129357742749311861790...   2.241667
         2.0                                                   inf   3.577731
         2.5     1438715300108581705388223637395328778677383299...   3.357143
         3.0                                 4030402840284027904.0   4.300000
7        1.0                 22391126890466825787040433212227584.0   3.222222
         1.5                         287885917163145016857591808.0   2.928571
         2.0     1060106010606323858864405451765381614813385372...   3.881579
         2.5                                            10071007.0   3.750000
         3.0                                                2014.0   8.000000
8        1.0                                 4030402840284027904.0   3.100000
         1.5                                                2015.0   2.500000
         2.0                             33570023669033567518720.0   4.041667
         3.5                                                2014.0   4.000000
9        2.0                                    503800355035503.75   4.500000
         2.5                                            10071007.5   4.250000
10       1.0                                                2014.0   5.250000
         2.0                                            10071007.0   2.500000
11       2.0                                                2014.0   3.000000
33       1.0                                                2014.0   1.750000

                 condition  delta_renovated      grade            id  \
bedrooms floors
0        1.0      2.500000         0.000000   4.000000  5.410408e+09
         2.0      3.000000         0.000000   8.166667  4.484478e+09
         3.0      3.000000         0.000000   7.500000  2.686001e+09
         3.5      3.000000         0.000000   7.000000  6.306400e+09
1        1.0      3.265432         4.271605   5.864198  4.206119e+09
         1.5      3.333333         4.666667   6.714286  3.838039e+09
         2.0      3.250000        10.583333   7.583333  4.717669e+09
         2.5      3.000000         0.000000   8.000000  2.025079e+09
         3.0      3.000000         0.000000   8.000000  1.293218e+09
2        1.0      3.441825         2.214249   6.612506  4.644129e+09
         1.5      3.571429         3.736264   6.785714  4.453789e+09
         2.0      3.150905         2.428571   7.655936  4.787089e+09
         2.5      3.400000         0.000000   7.800000  5.013193e+09
         3.0      3.000000         0.000000   7.886179  4.207544e+09
         3.5      3.000000         0.000000   8.000000  1.837551e+09
3        1.0      3.542988         1.705591   7.141888  4.432685e+09
         1.5      3.680662         4.774809   7.188295  4.591369e+09
         2.0      3.182168         2.307890   8.030468  4.688614e+09
         2.5      3.178571         6.250000   8.339286  5.223733e+09
         3.0      3.017284         0.439506   8.056790  4.553047e+09
         3.5      3.000000         0.000000   8.000000  3.949476e+09
4        1.0      3.652958         1.959295   7.546790  4.628396e+09
         1.5      3.737822         5.782235   7.275072  4.608379e+09
         2.0      3.185225         2.234112   8.617871  4.687654e+09
         2.5      3.568966        11.137931   9.051724  4.087259e+09
         3.0      3.196721         1.688525   8.868852  5.188107e+09
5        1.0      3.642975         1.492562   7.649587  4.467315e+09
         1.5      3.702703         4.794595   7.313514  4.409919e+09
         2.0      3.234839         3.012903   8.925161  4.606153e+09
         2.5      3.739130         4.826087   9.478261  4.586503e+09
         3.0      3.076923         2.615385   9.846154  2.938383e+09
6        1.0      3.644231         1.548077   7.605769  4.811353e+09
         1.5      3.633333         3.700000   7.333333  4.353281e+09
         2.0      3.235294         5.941176   8.411765  4.160245e+09
         2.5      3.857143        11.071429   9.714286  3.685751e+09
         3.0      3.400000        17.000000  10.000000  3.379811e+09
7        1.0      3.333333         5.333333   7.555556  5.484807e+09
         1.5      4.000000         0.000000   7.714286  2.886986e+09
         2.0      3.210526         8.421053   8.736842  3.671536e+09
         2.5      4.500000         0.000000  10.500000  6.237651e+09
         3.0      3.000000         0.000000  12.000000  1.225069e+09
8        1.0      3.200000         0.000000   7.600000  3.455780e+09
         1.5      3.000000         0.000000   7.000000  6.746701e+09
         2.0      3.666667         0.000000   8.000000  5.920384e+09
         3.5      5.000000         0.000000  12.000000  1.346300e+09
9        2.0      3.000000        23.750000   7.250000  5.493213e+09
         2.5      3.000000         0.000000   9.000000  5.410550e+09
10       1.0      3.000000         0.000000   9.000000  6.273001e+08
         2.0      4.000000         0.000000   7.000000  7.189251e+09
11       2.0      3.000000        81.000000   7.000000  1.773101e+09
33       1.0      5.000000         0.000000   7.000000  2.402101e+09

                        price  price_per_sq_lot   sqft_above  sqft_basement  \
bedrooms floors
0        1.0     1.937375e+05         19.867715   477.000000       0.000000
         2.0     4.642667e+05         44.587281  2388.333333       0.000000
         3.0     3.340000e+05        281.348315  1450.000000       0.000000
         3.5     1.095000e+06        229.848866  3064.000000       0.000000
1        1.0     2.971509e+05         64.663552   757.827160      50.555556
         1.5     4.378617e+05         54.226997  1060.952381      89.047619
         2.0     3.576583e+05        186.634189  1076.666667     169.166667
         2.5     4.150000e+05          2.027040  3000.000000       0.000000
         3.0     3.901667e+05        530.355065   993.333333       0.000000
2        1.0     3.784425e+05         67.127093  1025.157868     142.472066
         1.5     4.769569e+05         94.049161  1292.664835     105.483516
         2.0     4.402596e+05        238.738480  1296.949698     126.784708
         2.5     9.701000e+05        192.412433  2321.400000     520.000000
         3.0     4.713630e+05        403.893652  1312.243902      24.065041
         3.5     5.020000e+05        437.973604  1520.000000       0.000000
3        1.0     4.087522e+05         49.322892  1337.888909     292.610999
         1.5     5.312561e+05         96.699875  1561.882952     197.564885
         2.0     5.391454e+05        114.002269  2015.145606     127.566709
         2.5     6.546830e+05        259.683818  2008.446429     189.946429
         3.0     5.263421e+05        356.715386  1574.592593      37.320988
         3.5     5.168750e+05        387.629375  1582.500000       0.000000
4        1.0     5.340299e+05         57.374430  1522.558959     691.428032
         1.5     5.968690e+05        105.524998  1737.028653     317.564470
         2.0     6.960283e+05         86.574642  2698.826181     151.096687
         2.5     1.112848e+06        175.899680  3043.258621     320.517241
         3.0     9.250450e+05        235.990668  2859.245902     133.327869
5        1.0     5.984906e+05         56.911776  1585.895868    1012.502479
         1.5     6.030841e+05         96.239865  1947.335135     454.108108
         2.0     9.520711e+05        104.665629  3112.047742     400.815484
         2.5     1.284810e+06        185.954263  3272.956522     446.956522
         3.0     1.406400e+06        253.978973  3667.307692     547.692308
6        1.0     5.811468e+05         62.577053  1676.134615    1138.923077
         1.5     6.843150e+05         88.072729  2164.000000     437.333333
         2.0     9.231336e+05         98.782099  3088.596639     565.378151
         2.5     1.900514e+06        226.489285  3871.428571     802.142857
         3.0     1.422560e+06        178.445849  3498.400000     958.000000
7        1.0     5.273508e+05         48.578246  1975.555556     952.222222
         1.5     6.671286e+05        109.769203  3012.857143     390.000000
         2.0     9.665242e+05        105.536399  3264.736842     722.105263
         2.5     3.042500e+06        280.842084  4890.000000     890.000000
         3.0     2.280000e+06          7.408563  9410.000000    4130.000000
8        1.0     7.676000e+05         63.184633  2176.000000    1332.000000
         1.5     7.000000e+05        233.333333  1210.000000    1070.000000
         2.0     1.088000e+06        180.132744  2735.000000     910.000000
         3.5     3.300000e+06        280.851064  6090.000000    1620.000000
9        2.0     8.410000e+05        173.190311  2822.500000     727.500000
         2.5     9.999995e+05        170.018539  3160.000000    1065.000000
10       1.0     1.148000e+06        105.128205  2500.000000    2090.000000
         2.0     6.550000e+05        115.396322  2435.000000     830.000000
11       2.0     5.200000e+05        104.838710  2400.000000     600.000000
33       1.0     6.400000e+05        106.666667  1040.000000     580.000000

                  sqft_living  sqft_living15       sqft_lot     sqft_lot15  \
bedrooms floors
0        1.0       477.000000    1772.500000   61122.000000   65697.750000
         2.0      2388.333333    2355.000000   10326.000000   11570.333333
         3.0      1450.000000    1450.000000    1314.500000    1524.500000
         3.5      3064.000000    2360.000000    4764.000000    4000.000000
1        1.0       808.382716    1406.222222   10962.500000   11167.185185
         1.5      1150.000000    1666.000000   49641.619048   35668.000000
         2.0      1245.833333    1630.000000   17949.083333    4696.833333
         2.5      3000.000000    2330.000000  204732.000000  213008.000000
         3.0       993.333333    1260.000000     776.333333    2107.333333
2        1.0      1167.629933    1490.785238   12812.462327   10058.776012
         1.5      1398.148352    1666.450549   16581.472527   14432.989011
         2.0      1423.734406    1518.283702   10004.338028    8022.050302
         2.5      2841.400000    2000.000000   48448.800000   63509.600000
         3.0      1336.308943    1393.617886    1262.739837    1582.796748
         3.5      1520.000000    1315.000000    1152.500000    1157.000000
3        1.0      1630.499908    1734.202933   14619.458295   13189.199267
         1.5      1759.447837    1723.083969   18918.508906   15568.748092
         2.0      2142.712316    2076.326171   14547.013470   12800.072162
         2.5      2198.392857    1996.178571   15045.839286   13656.214286
         3.0      1611.913580    1544.061728    1941.135802    2404.772840
         3.5      1582.500000    1465.000000    1372.750000    1392.000000
4        1.0      2213.986991    2016.258917   15988.358791   13062.132606
         1.5      2054.593123    1797.263610   12238.431232    9998.081662
         2.0      2849.922868    2561.060565   17944.860674   14870.686583
         2.5      3363.775862    2520.396552   19747.413793   20407.534483
         3.0      2992.573770    2168.491803   19860.475410    7012.262295
5        1.0      2598.398347    2198.922314   15196.424793   13330.861157
         1.5      2401.443243    1860.583784   22435.643243   11210.697297
         2.0      3512.863226    2768.434839   16882.800000   13482.192258
         2.5      3719.913043    2561.739130    8737.347826    7227.869565
         3.0      4215.000000    2443.076923   16741.923077   15550.307692
6        1.0      2815.057692    2095.230769   12727.288462   10142.480769
         1.5      2601.333333    1948.000000   23135.900000   15415.166667
         2.0      3653.974790    2460.957983   24075.655462   19810.680672
         2.5      4673.571429    2780.714286    8665.000000    6249.714286
         3.0      4456.400000    2416.000000   10323.400000   10326.200000
7        1.0      2927.777778    1822.222222   13964.333333    7687.777778
         1.5      3402.857143    1992.857143   12232.000000   12572.857143
         2.0      3986.842105    2502.631579   13138.421053   11208.421053
         2.5      5780.000000    2995.000000   11628.000000    6434.500000
         3.0     13540.000000    4850.000000  307752.000000  217800.000000
8        1.0      3508.000000    1970.000000   12713.000000    8995.000000
         1.5      2280.000000    1610.000000    3000.000000    3000.000000
         2.0      3645.000000    2296.666667    6386.000000    6554.500000
         3.5      7710.000000    4210.000000   11750.000000    8325.000000
9        2.0      3550.000000    2094.500000    5096.000000    3929.000000
         2.5      4225.000000    2085.000000    6248.000000    5305.500000
10       1.0      4590.000000    2730.000000   10920.000000   10400.000000
         2.0      3265.000000    1925.000000    7829.500000    7829.500000
11       2.0      3000.000000    1420.000000    4960.000000    4960.000000
33       1.0      1620.000000    1330.000000    6000.000000    4700.000000

                     view  waterfront     yr_built  yr_renovated
bedrooms floors
0        1.0     0.000000    0.000000  1958.000000      0.000000
         2.0     0.000000    0.000000  1993.833333      0.000000
         3.0     1.000000    0.000000  2002.500000      0.000000
         3.5     2.000000    0.000000  1990.000000      0.000000
1        1.0     0.240741    0.024691  1936.925926    146.975309
         1.5     0.285714    0.047619  1954.000000    284.047619
         2.0     0.166667    0.000000  1980.333333    331.916667
         2.5     2.000000    0.000000  1979.000000      0.000000
         3.0     0.000000    0.000000  2010.333333      0.000000
2        1.0     0.166069    0.007688  1944.715018     82.508970
         1.5     0.329670    0.010989  1932.384615     98.351648
         2.0     0.181087    0.022133  1993.132797     92.034205

### 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [96]:
df.pivot_table(index='price', values=('condition','grade'), aggfunc=[np.median])

             median
          condition grade
price
75000.0         3.0   3.0
78000.0         1.0   5.0
80000.0         2.0   4.0
81000.0         1.0   5.0
82000.0         3.0   6.0
...             ...   ...
5350000.0       3.0  12.0
5570000.0       3.0  13.0
6885000.0       3.0  13.0
7062500.0       3.0  11.0
7700000.0       4.0  13.0

[4028 rows x 2 columns]